VITE_SUPABASE_URL=https://dhvaxmvzdecmrcdvqfco.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRodmF4bXZ6ZGVjbXJjZHZxZmNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNDEyODYsImV4cCI6MjEwMTgxNzI4Nn0.GrHESLJOMuon99WmLu03bcVpWiMf85ICLwUkRUN1LAQ
VITE_API_BASE_URL=http://localhost:3000
